main {
    margin-left: 15%;
    margin-block: 1rem 5rem;
    width: calc(70%);
}

article, .card {
    border-radius: .75em;
    border: 1px solid rgba(255, 255, 255, .15);
    background: var(--c-background-menus);
    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, .25), 0px 4px 4px 0px rgba(0, 0, 0,  .25);
    backdrop-filter: var(--blur-article);
    padding: 1em;
    margin-block: 1rem;
    position: relative;
}

article > h1 {
    padding-bottom: .25em;
    margin-bottom: .75em;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.article-main {
    display: flex;
    flex-wrap: wrap;
}

.keep-image-maxed {
    & > img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.article-section {
    max-width: 100%;
    display: inline-block;
}

.article-section a {
    background-color: rgba(63, 63, 148, .5);
    backdrop-filter: var(--blur-mid);
    box-shadow: 0 2px 4px 0 #0005;
    border-radius: .75ch;
    color: #fff;
    padding-inline: .5ch;
    text-decoration: none;
    white-space: nowrap;
}

.article-section a:hover {
    text-decoration: underline;
    background-color: rgb(63, 63, 148, 1);
}

.article-section a.external-link::before {
    content: "";
    display: inline-block;
    height: .75em;
    margin-right: .5ch;
    width: .75em;
    background-image: url(../Icons/ExternalLink.svg);
    background-size: contain;
}

.article-half {
    width: 50%;
    position: relative;
}

article li {
    list-style-position: inside;
}

.article-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 1rem;
    & > article {
        margin: 0;
        width: 50ch;
        flex-shrink: 1;
        min-width: 20ch;
        flex-grow: 1;
    }
}

.flex-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-inline: 1rem;
}

.card {
    flex-grow: 1;
}

.card > a {
    border: 1px solid #fff;
    padding: .25rem 1rem;
    display: inline-block;
    margin: 1rem;
    flex-shrink: 100%;
    flex-grow: 0;
    flex-basis: 100%;
    border-radius: 2rem;
    white-space: nowrap;
    color: #fff;
    text-shadow: 0 0 4px #0009;
    text-decoration: none;
    transition: border-color .2s ease,
                color .2s ease;
}

.card > a:hover {
    border-color: var(--c-blue-light);
    color: var(--c-blue);
    background: #0003;
    text-decoration: underline;
    transition: border-color .2s ease,
                color .2s ease;
}

@media (aspect-ratio < 1.5) {
    main {
        width: calc(100% - 5ch);
        margin-inline: 2.5ch;
    }
}

@media (orientation: portrait) {
    .article-half {
        width: 100%;
    }
    .article-main {
        flex-flow: column;
    }
    main {
        width: 100%;
        margin-inline: 0;
    }

    article {
        border-radius: 0;
        border-inline: none;
    }

    .flex-cards-wrapper {
        flex-wrap: wrap;
    }

    .flex-cards-wrapper > a {
        align-self: center;
    }
}