main {
    margin-left: 15%;
    margin-top: 1rem;
    width: 70%;
}

article {
    border-radius: .75em;
    border: 1px solid rgba(255, 255, 255, .15);
    background: var(--c-background-menus);
    box-shadow: 2px 6px 20px 0px rgba(0, 0, 0, .25), 0px 4px 4px 0px rgba(0, 0, 0,  .25);
    backdrop-filter: var(--blur-article);
    padding: 1em;
    margin-block: 1rem;
}

article > h1 {
    padding-bottom: .25em;
    margin-bottom: .75em;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.article-main {
    display: flex;
}

.article-section {
    display: inline-block;
}

.article-section a {
    background-color: rgba(63, 63, 148, .5);
    backdrop-filter: var(--blur-mid);
    box-shadow: 0 2px 4px 0 #0005;
    border-radius: .75ch;
    color: #fff;
    padding-inline: .5ch;
    text-decoration: none;
    white-space: nowrap;
}

.article-section a:hover {
    text-decoration: underline;
    background-color: rgb(63, 63, 148, 1);
}

.article-section a.external-link::before {
    content: "";
    display: inline-block;
    height: .75em;
    margin-right: .5ch;
    width: .75em;
    background-image: url(../Icons/ExternalLink.svg);
    background-size: contain;
}

.article-half {
    width: 50%;
}

.article-half > img {
    /*width: 100%;*/
    height: 100%;
    max-height: 100%;
}

.article-wrapper {
    display: flex;
    justify-content: space-between;
    flex-flow: nowrap;
}

.article-wrapper article {
    margin: 1rem;
}

@media (orientation: portrait) {
    .article-half {
        width: 100%;
    }
    .article-main {
        flex-flow: column;
    }
    main {
        width: 100%;
        margin-inline: 0;
    }

    article {
        border-radius: 0;
        border-inline: none;
    }
}