:root {
    --c-scrollbar-track: #070707;
    --c-scrollbar-thumb: #222222;
}

body {
    scrollbar-width: thin;
    scrollbar-color: #fff;
}

/* Scrollbar */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-track);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--c-scrollbar-track);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar-thumb);
  }

.top-banner {
    width: 100%;
    min-height: 50vh;
}
