:root {
  --c-cyber-line: #41ddff40;
  --c-background-dark-blue-gradient: linear-gradient(180deg, #4d606d80 0%, #13385480 100%);;
  --c-background-small-button: #161616;
  --shadow-cyber-glow: 0 0 2em .75em #4e80ff33, 0 0 .75em 0 #4effff40;
  --shadow-button-small: 0 4px 12px 0 #00000040, 0 2px 4px 0 #00000026;;
  --blur-small: blur(.25em);
  --proj-ui-design-start: #FF6190;
  --proj-ui-design-end: #FF6A3C;
  --proj-web-design-start: #FF6E4E;
  --proj-web-design-end: #FFB039;
  --proj-game-dev-start:#cfc750;
  --proj-game-dev-end: #3ead50;
  --proj-cybersec-start: #3bc09f;
  --proj-cybersec-end: #3b7bc4;
  --proj-robotics-start: #6582EB;
  --proj-robotics-end: #9D51B8;
  --m-fx-start: var(--c-blue);
  --m-fx-end: var(--c-purple);
  transform: --m-fx-start 2.2s ease, --m-fx-end 2.2s ease;
}

.top-banner {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.top-banner canvas#matrix_canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--c-background-body);
  z-index: -1;
}

.contact-me, .about-me {
  width: calc(50% - 2em);
  min-height: 80vh;
  position: relative;
  height: 100%;
}

.contact-me {
  padding: 2rem 5rem;
  /*background-color: #9c23ff56;*/
}

.banner-me {
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  animation: banner-me-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) .25s normal forwards;
  filter: drop-shadow(0 0 .5rem #0004)
}

.about-me {
  /*background-color: #239cff56;*/
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes banner-me-in {
  from {
    bottom: -12.5%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.bubble:first-of-type {
  border-top-left-radius: 1.5rem;
}

.bubble:nth-last-of-type(2) {
  border-bottom-left-radius: 1.5rem;
}

.to-bottom {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  box-shadow: var(--shadow-cyber-glow);
  z-index: 1;
  background: var(--c-background-dark-blue-gradient);
  border: 2px solid var(--c-cyber-line);
  cursor: pointer;
  backdrop-filter: var(--blur-small);
  transition: background .3s ease;
  animation: to-bottom-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: var(--c-cyber-line);
    & img {
      transform: scale(1.2);
    }
  }
}

@keyframes to-bottom-in {
  from {
    top: 0;
  }
  to {
    top: 50%;
  }
}

.to-bottom img {
  margin-top: 5%;
  width: 55%;
  height: auto;
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.35));
  transition: transform .3s ease-out;
}

.to-bottom::before {
  content: '';
  height: 100vh;
  width: 2px;
  z-index: -1;
  position: absolute;
  top: calc(-100vh - 2px);
  background: var(--c-cyber-line);
  box-shadow: var(--shadow-cyber-glow);
}

.big-title {
  position: absolute;
  max-width: 90%;
  min-height: 7.5rem;
  bottom: -12.5%;
  opacity: 0;
  left: 50%;
  transform: translate(-50%, 25%);
  animation: big-title-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) .5s normal forwards;
  /*background-color: #ff236556;*/
}

@keyframes big-title-in {
  from {
    bottom: -12.5%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.bottom {
  position: relative;
  min-height: 75vh;
  display: flex;
  align-items: center;
}

.projects-nav {
  display: inline-flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  right: 0;
  position: absolute;

  /*background-color: #ffff0063;*/
}

.projects-nav ul {
  list-style-position: inside;
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-flow: column;
}

.projects-nav h4 {
  color: #fff6;
}

.projects-nav p {
  z-index: 1;
}

.projects-nav li {
  position: relative;
  width: fit-content;
  padding: 1rem;
  height: 3rem;
  border-radius: .75rem;
  display: flex;
  align-items: center;
  --w: .35em;
  background-size: 100% 100%, 100% var(--w), var(--w) 100%, var(--w) 100%, 100% var(--w);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0, 0 0, 100% 0, 0 100%;
}

.projects-nav li svg {
  height: 1.5rem;
  width: auto;
  margin-right: .5rem;
  z-index: 1;
}

.projects-nav ul {
  list-style: none;
}

/* Projects naviagtion colors */
[class^="proj-"] {
  cursor: pointer;
  background: linear-gradient(#fff0, #fff0),
  linear-gradient(var(--local-c-start), var(--local-c-start)),
  linear-gradient(var(--local-c-start), var(--local-c-end)),
  linear-gradient(var(--local-c-start), var(--local-c-end)),
  linear-gradient(var(--local-c-end), var(--local-c-end));
  &[class$="ui-design"] {
    --local-c-start: var(--proj-ui-design-start) !important;
    --local-c-end: var(--proj-ui-design-end) !important;
  }
  &[class$="web-design"] {
    --local-c-start: var(--proj-web-design-start) !important;
    --local-c-end: var(--proj-web-design-end) !important;
  }
  &[class$="game-dev"] {
    --local-c-start: var(--proj-game-dev-start) !important;
    --local-c-end: var(--proj-game-dev-end) !important;
  }
  &[class$="cybersec"] {
    --local-c-start: var(--proj-cybersec-start) !important;
    --local-c-end: var(--proj-cybersec-end) !important;
  }
  &[class$="robotics"] {
    --local-c-start: var(--proj-robotics-start) !important;
    --local-c-end: var(--proj-robotics-end) !important;
  }
  &:hover {
    background: linear-gradient(var(--local-c-start), var(--local-c-end));
    &::before {
      box-shadow: none;
    }
  }
  &::before {
    content: '';
    width: calc(100% - .4em);
    height: calc(100% - .4em);
    box-shadow: inset 0 0 .1em .35em var(--c-background-body);
    position: absolute;
    border-radius: .5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }
}

.main-nav {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  width: 10rem;
  offset-anchor: 50% 50%;
  /*background-color: rgba(0, 255, 55, 0.205)*/
}

.main-nav a {
  text-decoration: none;
  color: #fff;
}

.main-nav li {
  transition: all .2s ease-out;
  background-color: #0000;
}

.main-nav li:hover {
  transform: scale(1.25);
  background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.00) 0%, #fff1 50%, rgba(44, 44, 44, 0.00) 100%);
}

.main-nav ul {
  list-style: none;
}

.info-mail a:hover {
  text-decoration: underline;
  color: #eee;
}

.info-mail {
  position: absolute;
  margin: .5rem;
  text-align: center;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.info-mail a {
  color: #A9A9A9;
  font-weight: 400;
  text-decoration: none;
}

.contacts {
  list-style: none;
  flex-flow: column;
  display: inline-flex;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.contacts a {
  margin-block: .25rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: color-mix(in srgb, var(--c-background-small-button) 75%, transparent 25%);
  backdrop-filter: blur(1.5rem) saturate(250%);
  border-radius: 1rem;
  box-shadow: var(--shadow-button-small);
  transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1), background .15s linear;
  &:hover {
    transform: scale(1.2);
    z-index: 2;
    background: color-mix(in srgb, var(--c-custom-local) 50%, transparent 50%);
  }
}

[data-contact-type="ig"] {
  --c-custom-local: #fff48e;
}
[data-contact-type="tw"] {
  --c-custom-local: #ff7088;
}
[data-contact-type="dc"] {
  --c-custom-local: #8d5cff;
}
[data-contact-type="gh"] {
  --c-custom-local: #5cff77;
}

.contacts img {
  display: block;
  margin: auto;
  width: 2rem;
  height: auto;
}

dynamic_click_icon {
  position: relative;
  display: inline-block;
  background-image: url("../Icons/ClickMouse.svg");
  height: 1em;
  width: 1em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bubble {
  min-width: 3rem;
  min-height: 3rem;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 1em;
  margin-block: .5rem;
  background-image: linear-gradient(180deg, rgba(53, 67, 69, .5) 0%, rgba(45, 59, 75, .5) 100%);
  border-radius: 1.5rem;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;
  border: 2px solid var(--c-cyber-line);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.14)); 
}

.send-message {
  width: calc(100% - 10rem);
  height: 3rem;
  display: flex;
  flex-flow: row;
  justify-content: right;
  align-items: center;
  position: absolute;
  animation: send-message-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1) normal forwards;
}

@keyframes send-message-in {
  from {
    left: -20%;
    filter: opacity(0);
  }
  to {
    left: 5rem;
    filter: opacity(1);
  }
}

.send-msg-icon {
  width: 4rem;
  border: 1px solid #fff;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding-right: .35rem;
  transition: .2s background-color ease-in-out;
}

.send-msg-icon:hover {
  background-color: #fff1;
}

.send-msg-icon img {
  transition: .2s filter ease-in-out,
              .2s rotate cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.send-msg-icon:hover img {
  filter: sepia(100%) saturate(750%) brightness(70%) hue-rotate(120deg);
  rotate: 10deg;
}

.send-msg-text {
  /*border-block: 1px solid #fff;*/
  background: linear-gradient(90deg, #fff0, #fff),
              linear-gradient(90deg, #fff0, #fff),
              linear-gradient(90deg, #fff0, #fff0);
  background-size: 100% 1px, 100% 1px, 100%, calc(100% - 2px);
  background-position-y: 0, 100%, 1px;
  background-repeat: no-repeat;
  height: 3rem;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1rem;
  color: #fff;
  text-decoration: none;
  transition: .2s color ease, 
              .2s background-color ease;
}

.send-msg-text:hover {
  text-decoration: underline;
  background: linear-gradient(90deg, #fff0, #fff),
              linear-gradient(90deg, #fff0, #fff),
              linear-gradient(90deg, #fff0, #fff1);
  background-size: 100% 1px, 100% 1px, 100%, calc(100% - 2px);
  background-position-y: 0, 100%, 1px;
  background-repeat: no-repeat;
  color: #6abdcc;
}

.send-msg-icon img {
  height: 1.5rem;
  width: auto;
}

.mouse-fx {
  min-width: 20vmin;
  min-height: 20vmin;
  border-radius: 10vmin;
  filter: blur(15vmin);
  z-index: -1;
  background: linear-gradient(45deg, var(--m-fx-start), var(--m-fx-end));
  position: fixed;
  top: 50%;
  left: 50%;
  --ease: cubic-bezier(.02,.38,.2,1.26);
  transition: top .25s var(--ease), left .25s var(--ease), filter .25s var(--ease), --m-fx-start 2.2s ease, --m-fx-end 2.2s ease;
  transform: translate(-50%, -50%);
}

/* FX Color/Filter change */
/* Contacts links */
body:has([data-contact-type="ig"]:hover) .mouse-fx {
  --m-fx-start: #fff;
  --m-fx-end: #ffa;
}
body:has([data-contact-type="tw"]:hover) .mouse-fx {
  --m-fx-start: #fff;
  --m-fx-end: #f8a;
}
body:has([data-contact-type="dc"]:hover) .mouse-fx {
  --m-fx-start: #fff;
  --m-fx-end: #a8f;
}
body:has([data-contact-type="gh"]:hover) .mouse-fx {
  --m-fx-start: #fff;
  --m-fx-end: #af8;
}
/* Project buttons */
body:has(.proj-ui-design:hover) .mouse-fx {
  --m-fx-start: var(--proj-ui-design-start);
  --m-fx-end: var(--proj-ui-design-end);
}
body:has(.proj-web-design:hover) .mouse-fx {
  --m-fx-start: var(--proj-web-design-start);
  --m-fx-end: var(--proj-web-design-end);
}
body:has(.proj-game-dev:hover) .mouse-fx {
  --m-fx-start: var(--proj-game-dev-start);
  --m-fx-end: var(--proj-game-dev-end);
}
body:has(.proj-cybersec:hover) .mouse-fx {
  --m-fx-start: var(--proj-cybersec-start);
  --m-fx-end: var(--proj-cybersec-end);
}
body:has(.proj-robotics:hover) .mouse-fx {
  --m-fx-start: var(--proj-robotics-start);
  --m-fx-end: var(--proj-robotics-end);
}
/* Footer mail */
body:has(.info-mail:hover) .mouse-fx {
  --m-fx-start: #fff;
  --m-fx-end: #aaf;
  filter: blur(50vmin);
}
/* Nav buttons */
body:has(nav a:hover) .mouse-fx {
  filter: blur(7.5vmin);
}

body:has(
  /* To botttom */
  .to-bottom:hover,
  /* Contact banner */
  .send-message>a:hover,
  /* Header */
  .header-buttons>a:not(.current):hover
) .mouse-fx {
  filter: blur(10vmin);
}

/* Smaller aspect ratios */
@media (aspect-ratio < 3 / 2) {
  .contact-me {
    padding-inline: 2rem;
  }
  .send-message {
    width: calc(100% - 4rem);
    transform: translateX(-3rem);
  }
}

/* Portrait screen orientation */
@media (orientation: portrait) {
  dynamic_click_icon {
    background-image: url("../Icons/ClickMobile.svg");
  }

  .projects-nav {
    position: relative;
  }
  
  .main-nav {
    left: 0;
    transform: none;
    position: relative;
    margin-block: 2rem;
  }

  .bottom {
    padding-bottom: 12rem;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .top-banner {
    flex-flow: column;
    height: fit-content;
  }

  .contact-me, .about-me {
    width: 100vw;
    min-height: 20vh;
    height: fit-content;
    position: relative;
  }

  .contact-me {
    margin-bottom: 6rem;
    padding: 1rem;
  }
  
  .send-message {
    width: calc(100% - 2rem);
    transform: translateX(0);
    animation: send-message-in 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  @keyframes send-message-in {
    from {
      filter: opacity(0); 
      left: -25%;
    }
    to {
      filter: opacity(1);
      left: 0;
    }
  }

  .about-me {
    margin-top: -2rem;
    min-width: 90vw;
    aspect-ratio: 1;
  }

  

  .to-bottom::before {
    width: 50vw;
    height: 2px;
    left: calc(-50vw - 2px);
    top: 50%;
  }
  
  .to-bottom::after {
    content: '';
    z-index: -1;
    position: absolute;
    background: var(--c-cyber-line);
    box-shadow: var(--shadow-cyber-glow);
    width: calc(50vw - 2rem);
    height: 2px;
    right: calc(-50vw - 2px + 2rem);
    top: 50%;
  }

  .contacts {
    flex-flow: row wrap;
    width: calc(100% - 1rem);
    justify-content: space-evenly;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    & a {
      width: 4rem;
      height: 4rem;
      border-radius: 1.25rem;
      & img {
        width: 2.75rem;
      }
    }
  }

  .big-title {
    height: auto;
    font-size: 3rem;
  }
  
  .projects-nav li {
    margin-inline: auto;
  }
}