:root {
  --c-scrollbar-track: #070707;
  --c-scrollbar-thumb: #222222;
  --c-cyber-line: #41ddff40;
  --c-background-dark-blue-gradient: linear-gradient(180deg, #4d606d80 0%, #13385480 100%);;
  --c-background-small-button: #161616;
  --shadow-cyber-glow: 0 0 2em .75em #4e80ff33, 0 0 .75em 0 #4effff40;
  --shadow-button-small: 0 4px 12px 0 #00000040, 0 2px 4px 0 #00000026;;
  --blur-small: blur(.25em);
}

body {
  scrollbar-width: thin;
  scrollbar-color: #fff;
}

/* Scrollbar */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--c-scrollbar-thumb) var(--c-scrollbar-track);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: var(--c-scrollbar-track);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar-thumb);
  }

.top-banner {
  width: 100%;
  min-height: 75vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.contact-me, .about-me {
  width: calc(50% - 2em);
  min-height: 80vh;
  height: 100%;
}

.contact-me {
  padding: 5rem;
  background-color: #9c23ff56;
}

.about-me {
  background-color: #239cff56;
}

.to-bottom {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  box-shadow: var(--shadow-cyber-glow);
  z-index: 1;
  background: var(--c-background-dark-blue-gradient);
  border: 2px solid var(--c-cyber-line);
  cursor: pointer;
  backdrop-filter: var(--blur-small);
}

.to-bottom img {
  margin-top: 5%;
  width: 55%;
  height: auto;
  filter: drop-shadow(0px 6px 12px rgba(0, 0, 0, 0.35));
}

.to-bottom::before {
  content: '';
  height: 100vh;
  width: 2px;
  z-index: -1;
  position: absolute;
  top: calc(-100vh - 2px);
  background: var(--c-cyber-line);
  box-shadow: var(--shadow-cyber-glow);
}

.big-title {
  font-size: 7.5em;
  font-weight: 100;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 25%);
  background-color: #ff236556;
}

.bottom {
  min-height: 25vh;
}

.projects-nav {
  display: inline-flex;
  flex-flow: column;
  width: max-content;
  align-items: center;
  justify-content: right;
  text-align: right;

  float: right;

  background-color: #ffff0063;
}

.projects-nav h4 {
  color: #636363;
}

.projects-nav ul {
  list-style: none;
}

.main-nav {
  display: inline-flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  width: 10rem;
  offset-anchor: 50% 50%;
  background-color: rgba(0, 255, 55, 0.205)
}

.main-nav a {
  text-decoration: none;
  color: #fff;
}

.main-nav li {
  transition: all .2s ease-out;
  background-color: #0000;
}

.main-nav li:hover {
  transform: scale(1.25);
  animation: main-nav-bg-in .2s;
  background-image: linear-gradient(90deg, rgba(44, 44, 44, 0.00) 0%, #2C2C2C 50%, rgba(44, 44, 44, 0.00) 100%);
}

.main-nav ul {
  list-style: none;
}

.info-mail a:hover {
  text-decoration: underline;
  color: #eee;
}

.info-mail {
  margin: .5rem;
  text-align: center;
}

.info-mail a {
  color: #A9A9A9;
  font-weight: 400;
  text-decoration: none;
}

.contacts {
  list-style: none;
  flex-flow: column;
  display: inline-flex;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.contacts a {
  margin-block: .25rem;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--c-background-small-button);
  border-radius: 1rem;
  box-shadow: var(--shadow-button-small);
}

.contacts img {
  display: block;
  margin: auto;
  width: 2rem;
  height: auto;
}

dynamic_click_icon {
  position: relative;
  display: inline-block;
  background-image: url("../Icons/ClickMouse.svg");
  height: 1em;
  width: 1em;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bubble {
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  padding: 1em;
  margin-block: .5rem;
  background-image: linear-gradient(180deg, rgba(53, 67, 69, .5) 0%, rgba(45, 59, 75, .5) 100%);
  border-radius: 1.5rem;
  border: 2px solid var(--c-cyber-line);
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25)) drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.14)); 
}

.send-message {
  width: 100%;
  height: 3rem;
  display: flex;
  flex-flow: row;
  justify-content: right;
  align-items: center;
}

.send-msg-icon {
  width: 4rem;
  border: 1px solid #fff;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  padding-right: .35rem;
}

.send-msg-icon:hover {
  background-color: #fff1;
}

.send-msg-text:hover {
  text-decoration: underline;
}

.send-msg-text {
  border-block: 1px solid #fff;
  height: 3rem;
  width: calc(100% - 4rem);
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 1rem;
  color: #fff;
  text-decoration: none;
}

.send-msg-icon img {
  height: 1.5rem;
  width: auto;
}

@media (orientation: portrait) {
  dynamic_click_icon {
    background-image: url("../Icons/ClickMobile.svg");
  }

  .top-banner {
    flex-flow: column;
  }

  .contact-me, .about-me {
    width: 100vw;
    min-height: 70vh;
    height: fit-content;
  }

  .to-bottom::before {
    width: 50vw;
    height: 2px;
    left: calc(-50vw - 2px);
    top: 50%;
  }
  
  .to-bottom::after {
    content: '';
    z-index: -1;
    position: absolute;
    background: var(--c-cyber-line);
    box-shadow: var(--shadow-cyber-glow);
    width: 50vw;
    height: 2px;
    right: calc(-50vw - 2px);
    top: 50%;
  }

  .big-title {
    width: 85%;
    text-align: center;
    height: auto;
    font-size: 3rem;
  }
}