main {
    width: 80%;
    margin-inline: auto;
}

h1 {
    line-height: 1.5;
    margin-block: 1.2ch .25ch;
}

@media (aspect-ratio < 1.5) {
    main {
        width: calc(100% - 5ch);
    }
}

@media (orientation: portrait) {
    main {
        margin-top: 2rem;
        padding: .75ch;
        width: 100%;
    }
    main > p,
    article > p {
        text-align: justify;
    }
}